body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #f7f7f7;
  color: #222;
  transition: all 0.3s;
}
.dark {
  background-color: #121212;
  color: #eee;
}
header {
  text-align: center;
}
textarea, input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
button {
  padding: 8px 12px;
  margin: 5px 0;
}
pre {
  background: #eee;
  padding: 10px;
  white-space: pre-wrap;
}
.dark pre {
  background: #1e1e1e;
}
.hidden {
  display: none;
}
#editor-container {
  height: 300px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
footer {
  text-align: center;
  margin-top: 20px;
}
.link-like {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}
